body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    background: #020122;    
    color: #F15025;
    letter-spacing: 2px;
}

header h1 {
    font-size: 92px;
    margin-bottom: 0;
    margin-top: 10px;
}

main h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-top: 2px solid #F4F5F9;
    border-bottom: 2px solid #F4F5F9;
    margin: 0 auto;
    background: #283D3B;
}

.nav-ul li {
    padding: 25px 80px;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    text-shadow: -1px -1px 0 #8B8982, 
        1px -1px 0 #8B8982, 
        -1px 1px 0 #8B8982, 
        1px 1px 0 #8B8982;
}

li a {
    color: darkslateblue;
}

li a:visited {
    color: darkslateblue;
}

img {
    width: auto;
    height: 300px;
}

#instruments-ul {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    justify-content: center;
    align-items: center;
}

#instruments-ul li {
    list-style: none;
    position: relative;
    text-align: center;
    margin: 70px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Libre Baskerville', serif;
    background: wheat;
    width: 300px;
    height: auto;
}

#instruments-ul li img {
    max-width: 280;
    max-height: auto;
}

#instruments-ul li button {
    padding: 5px;
    margin-left: 5px;
}

main {
    background: #8B8982
}

input {
    width: 30px;
    margin-left: 5px;
    font-family: 'Libre Baskerville', serif;
    border-radius: 5px;
}