body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: 'Lobster', cursive;
    background: #020122;    
    color: #F15025;
    letter-spacing: 2px;
}

header h1 {
    font-size: 92px;
    margin-bottom: 0;
    margin-top: 10px;
}

main h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-top: 2px solid #F4F5F9;
    border-bottom: 2px solid #F4F5F9;
    margin: 0 auto;
    background: #283D3B;
}

.nav-ul li {
    padding: 25px 80px;
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
    text-shadow: -1px -1px 0 #8B8982, 
        1px -1px 0 #8B8982, 
        -1px 1px 0 #8B8982, 
        1px 1px 0 #8B8982;
}

li a {
    color: darkslateblue;
}

li a:visited {
    color: darkslateblue;
}

main {
    background: #8B8982;
    margin: 0 auto;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 500px;
    text-align: center;
    font-size: 34px;
    line-height: 1.4em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
};

table {
    border-collapse: collapse;
    border: 1px solid black;
    max-width: 800px;
}

thead {
    background: #444;
    color: white;
    border: 1px solid black;
}

table th, table td {
    text-align: right;
    padding: 10px;
    border: 1px solid black;
}

tbody {
    background: white;
}

tbody tr:nth-child(even) {
    background: #eee;
}

tbody td {
    font-size: 0.9rem;
}

.line-item-total {
    font-weight: bolder;
}

tfoot {
    background: #999;
    color: white;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-family: 'Libre Baskerville', serif;
    border: 1px solid black;
}

button:hover {
    background: #283D3B;
    color: white;
    border: 1px solid white;
    transform: translate(3px, -3px);
    box-shadow: -5px 5px 10px black;
    transition-duration: 300ms;
}